.site-footer {
  background-color: #91DDCF;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 3rem;
}

.site-footer p {
  margin: 0;
  color: #FFF;
}



.site-footer a:hover {
  text-decoration: underline;
}
